[submodule "services/dir_music_authentication_service"]
	path = services/dir_music_authentication_service
	url = git@github.com:AlfaSquaD/dir_music_authentication_service.git
[submodule "services/dir_music_eureka"]
	path = services/dir_music_eureka
	url = git@github.com:AlfaSquaD/dir_music_eureka.git
[submodule "services/dir_music_gateway"]
	path = services/dir_music_gateway
	url = git@github.com:AlfaSquaD/dir_music_gateway.git
[submodule "clients/dir_music_client"]
	path = clients/dir_music_client
	url = git@github.com:AlfaSquaD/dir_music_client.git
[submodule "services/song-streaming-microservice"]
	path = services/song-streaming-microservice
	url = git@github.com:berkanttelli/song-streaming-microservice.git
[submodule "services/dir_music_config_server"]
	path = services/dir_music_config_server
	url = git@github.com:AlfaSquaD/dir_music_config_server.git
[submodule "services/user_information"]
	path = services/user_information
	url = git@github.com:OmerVeliIlhan/user_information.git
[submodule "services/dir_metadata_service"]
	path = services/dir_metadata_service
	url = git@github.com:AlfaSquaD/dir_metadata_service.git
[submodule "services/song-cover-art"]
	path = services/song-cover-art
	url = git@github.com:berkanttelli/song-cover-art.git
